h1 {
    font-family: 'Pacifico', cursive;
}

img {
    width:500px;
}

html {
    background-color:pink;
}

h3 {
    font-family: 'Shadows Into Light', cursive;
}

h2 {
    font-family: 'Dancing Script', cursive;
}